<form class="formHead" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <p></p>
    <input class="inputBox" type="text" formControlName="firstName" placeholder="Nombre">
    <p></p>
    <input class="inputBox" type="text" formControlName="lastName" placeholder="Apellido">
    <p></p>
    <input class="inputBox" type="text" formControlName="email" placeholder="Email">
    <p></p>
    <input class="inputBox" type="text" formControlName="phoneNumber" placeholder="Teléfono">
    <p></p>
    <input class="inputBox" type="text" formControlName="nationality" placeholder="Nacionalidad">
    <p></p>
    <input class="inputBox" type="text" formControlName="userName" placeholder="Nombre de Usuario">
    <p></p>
    <input class="inputBox" type="text" formControlName="password" placeholder="Password">
    <p></p>
    <button class="buttonStyle" type="submit" (click)="activate = !activate" *ngIf="profileForm.valid">Enviar datos</button>
    <p class="confirmMessage" *ngIf="activate && profileForm.valid">Sus datos se han enviado correctamente</p>
</form>  
<br> 
<br>
<br>
